$container: 320px;

$fz: 62.5%;
$ff: 'M PLUS Rounded 1c', sans-serif;


$text: #000;
$wt: #fff;
$text-light: #5f5d5d;
$color-blue: #00d4d4;
$color-title: #e35555;
$btn-wb: linear-gradient(90deg, #C711A9 0%, #491173 98.34%);


